#======== File I/O ===============
InputFile                     : MiniGarden2_4036x3064_300frames_8bit_yuv420.yuv
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 4036         # Input  frame width
SourceHeight                  : 3064         # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded
OutputBitDepth                : 8           # Output bitdepth
Level                         : 6.2

#======== Encoding Parameters ==============
ConformanceMode               : 1